---
layout: page
title: Posts
permalink: /posts/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>List all posts sorted by Date</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>

    <div class="site__content">
        <div class="blog-a">
            <div class="container-b" itemscope="" itemtype="http://schema.org/Blog">
                <div class="post-list">
                    {% for post in site.posts %}
                        {% include card.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <p class="center-text" style="padding: 30px;">
        <a href="{{ site.baseurl }}/">Back to Home</a>
    </p>
