---
layout: page
title: Bolivia Solidarity Campaign
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="block">
                <h1 class="animated fadeInUp">Bolivia Solidarity Campaign</h1>
                <p class="animated fadeInUp">Campaña de Solidaridad con el pueblo de Bolivia</p>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->


<script type="text/javascript">
 /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
 (function(w){"use strict";

	 if(!w.loadCSS){w.loadCSS=function(){}} var rp=loadCSS.relpreload={};
     rp.support=(function(){var ret;
         try{ret=w.document.createElement("link").relList.supports("preload")}catch(e){ret=!1} return function(){return ret}})();
     rp.bindMediaToggle=function(link){var finalMedia=link.media||"all";
         function enableStylesheet(){link.media=finalMedia} if(link.addEventListener){link.addEventListener("load",enableStylesheet)}else if(link.attachEvent){link.attachEvent("onload",enableStylesheet)} setTimeout(function(){link.rel="stylesheet";
             link.media="only x"});
         setTimeout(enableStylesheet,3000)};
     rp.poly=function(){if(rp.support()){return} var links=w.document.getElementsByTagName("link");
         for(var i=0;
             i<links.length;
             i++){var link=links[i];
             if(link.rel==="preload"&&link.getAttribute("as")==="style"&&!link.getAttribute("data-loadcss")){link.setAttribute("data-loadcss",!0);
                 rp.bindMediaToggle(link)}}};
     if(!rp.support()){rp.poly();
         var run=w.setInterval(rp.poly,500);
         if(w.addEventListener){w.addEventListener("load",function(){rp.poly();
             w.clearInterval(run)})}else if(w.attachEvent){w.attachEvent("onload",function(){rp.poly();
                 w.clearInterval(run)})}} if(typeof exports!=="undefined"){exports.loadCSS=loadCSS} else{w.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this))
</script>
<!--=================================================================== -->
<div class="site__content">
    <div class="blog-a">
        <div class="container-b" itemscope="" itemtype="http://schema.org/Blog">
            <div class="post-list">
                {% for post in site.posts limit:3 %}
                    {% include card.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--=================================================================== -->
<section id="intro">
  <div class="container-b">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>
              We are a London based organisation aiming to provide a platform for evidence often ignored by mainstream media. We are committed to challenging misinformation on Bolivia spread through right wing media outlets and propagated by lazy
              journalism.
            </p>
          </div>
          <p>
            Somos una organización con sede en Londres cuyo objetivo es proporcionar una plataforma para la evidencia a menudo ignorada por los principales medios de comunicación. Estamos comprometidos a desafiar la información errónea sobre Bolivia
            difundida a través de los medios de comunicación de derecha y propagada por el periodismo perezoso.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">

          <!-- <img src="img/wrapper-img.png" alt="Img">  -->
          <iframe width="600" height="530" src="https://www.youtube.com/embed/12KV_dTFIyo"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container-b">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2><span style="background-color: rgba(0,0,0,0.5); color: #fff;">The Gray Zone </span></h2>
        <p>
          <span style="background-color: rgba(0,0,0,0.5); color: #fff;font-weight: bold;">
            US and OAS help overthrow another government: Behind the coup against Bolivia’s Evo Morales
          </span>
        </p>
        <p>
          <span style="background-color: rgba(0,0,0,0.5); color: #fff; font-weight: bold;">
            The US targeted Evo Morales for overthrow ever since he became president. And the Organization of American States helped set the stage for Bolivia’s coup.
          </span>
        </p>
        <p>
          <span style="background-color: rgba(0,0,0,0.5); color: #fff; font-weight: bold;">
            By Leonardo Flores / CODEPINK
          </span>
        </p>
        <a href="https://thegrayzone.com/2019/11/14/oas-us-coup-bolivia-evo-morales/" target="_blank" class="btn btn-view-works">Continue reading</a>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Process of Change</h2>
        <p>The economist at consulting firm Oxford Economics, Pamela Ramos, said that Bolivia is one of the countries most successful in reducing poverty and extreme poverty over the past decade.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="Pepole">
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Coup d'etat in Bolivia: pending debates and complicit silences</h2>
                    <p>
                        Being the second poorest country in Latin America, Bolivia went on to have the highest growth in GDP, greater poverty reduction, more radical distribution of income and a marked decline in inflation, contrasting with the economic crisis of all its neighbors in the region. It had not (yet) initiated to socialism, but the twentieth century showed that socialism cannot be built in an isolated country.
                    </p>
                    <a class="btn btn-default btn-call-to-action" href="https://www.tatuytv.org/opinion-golpe-de-estado-en-bolivia-debates-pendientes-y-silencios-complices" target="_blank">Continue reading (Article in Spanish) </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------->
<!-------------------------------- Web Links --------------------------------------->
<!---------------------------------------------------------------------------------->

<section id="service">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Solidarity Web Links</h2>
                <p>
                    To get more information about Bolivia.
                </p>

            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                  <a href="https://www.rt.com/search?q=bolivia&type=News&xcategory=sport" target="_blank">
                    <svg class="Icon-root Icon-rtLogo" width="64px" height="64px" fill="#6EC702" version="1.1" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
                      <g fill-rule="evenodd">
                        <rect width="56" height="56"></rect>
                        <path d="m1 0h54c0.55228-1.0145e-16 1 0.44772 1 1v54c0 0.55228-0.44772 1-1 1h-54c-0.55228 0-1-0.44772-1-1v-54c-6.7635e-17 -0.55228 0.44772-1 1-1z"></path>
                        <g transform="translate(8 20)" fill="#000">
                          <polygon points="24.372 0.32996 24.372 2.3017 31.843 2.3017 31.843 17 40.53 17 40.53 2.3017 48 2.3017 48 0.32996"></polygon>
                          <path
                            d="m12.907 7.8584c0.66346 0 1.2681-0.28214 1.7137-0.76234 0.47758-0.51014 0.76946-1.2094 0.76946-1.9264h-0.003977 0.003977c0-0.71699-0.29188-1.5059-0.76946-2.0165-0.44559-0.47895-1.0503-0.85143-1.7137-0.85143h-3.5163v5.5567h3.5163zm7.0223-7.5284c1.1876 0.046067 2.298 0.4535 3.0839 1.2933 0.81597 0.88441 1.3622 2.1124 1.3622 3.5464h0.0065706-0.0065706c0 1.2547-0.50646 2.4435-1.3223 3.3198-0.50923 0.54545-1.1267 0.93836-1.8244 1.1771l5.1548 7.3334h-9.4655l-4.592-6.9907h-2.9354v6.9907h-8.6456v-16.67h19.184z">
                          </path>
                        </g>
                      </g>
                    </svg>
                    <p>RT is now a global, round-the-clock news network of eight TV channels, broadcasting news, current affairs, and documentaries, with digital platforms in six languages</p>
                  </a>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <a href="https://thegrayzone.com/category/bolivia/" target="_blank">
                  <img src="https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?fit=280%2C200&amp;ssl=1" class="site-logo attachment-full" alt="" data-size="full" itemprop="logo"
                    srcset="https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?w=280&amp;ssl=1 280w, https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?resize=120%2C86&amp;ssl=1 120w, https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?resize=60%2C43&amp;ssl=1 60w"
                    sizes="(max-width: 280px) 40vw, 280px" data-attachment-id="10953" data-permalink="https://thegrayzone.com/grayzone-logo-website/"
                    data-orig-file="https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?fit=280%2C200&amp;ssl=1" data-orig-size="280,80" data-comments-opened="0"
                    data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                    data-image-title="grayzone logo website" data-image-description="" data-medium-file="https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?fit=120%2C86&amp;ssl=1"
                    data-large-file="https://i0.wp.com/thegrayzone.com/wp-content/uploads/2019/06/grayzone-logo-website.png?fit=280%2C200&amp;ssl=1" width="280" height="80">

                  <p>The Grayzone is an independent news website dedicated to original investigative journalism and analysis on politics and empire.</p>
                </a>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
            <div class="service-item">

              <a href="https://www.telesurenglish.net/?fbclid=IwAR0ex9_2H7UBY90SpkMuhszyPd8kz_1gidFhEy8uwvg2qCURmxxeAqtLaF4" target="_blank">
                <div><img src="https://www.telesurtv.net/export/sites/telesur/arte/log-iso-telesur.png_253617125.png" alt="Telesur" width="58" height="65"></div>
                <div style="background-color:darkorange; margin:0px 90px;">
                  <img src="https://www.telesurtv.net/export/sites/telesur/arte/Texto-telesur-hd.png_1571705870.png" alt="Telesur" width="49" height="18">
                </div>

                <p>TeleSUR is a Latin American multimedia platform oriented to lead and promote the unification of the peoples of the SOUTH.</p>
              </a>
              <button type="button" class="btn btn-sm btn-default">
                <a href="https://www.telesurtv.net/opinion/Bolivia-el-golpe-de-Estado-en-su-laberinto-20191115-0010.html" target="_blank">Spanish version<a>
              </button>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
              <div class="service-item">
                  <a href="https://www.tatuytv.org/opinion-el-odio-al-indio/" target="_blank">
                      <div style="background: linear-gradient(to bottom, rgba(0,118,83,1) 0%, rgba(20,17,44,1) 100%);
                                  margin:0px 0px; vertical-align: middle;">
                          <img src="https://www.tatuytv.org/wp-content/uploads/2018/11/www.tatuytv.org_.png"
                               alt="TatuyTV"
                               width="262"
                               height="70">
                      </div>
                      <p>(S) The foundation of Tatuy Community Television was formalized on August 31, 2007. Since the end of 2006 a group of young people, militants of the city of Mérida, aware of the media battle facing the Bolivarian Revolution.</p></a>
              </div>
          </div>

        </div>
    </div>
</section>
