---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/baguetteBox.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/grid-gallery.css">

<section class="gallery-block grid-gallery" style="text-align: center;">
  <div class="container">
    <div class="heading">
      <h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
    </div>
    <div class="row" style="text-align: -moz-center; text-align: -webkit-center;">
      {% for image in page.images %}
      <div class="col-md-6 col-lg-4 item">
        <a class="lightbox" href="{{ image.name }}">
          <img class="img-responsive image scale-on-hover" style="max-width: 18vw; height: 12vw;" src="thumbs/{{ image.name }}" />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<p class="center-text" style="padding: 30px;">
		<a href="{{ site.baseurl }}/">Back to Home</a>
</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
 baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
</script>
